---
http_interactions:
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=123%20ST.%20Firgle&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "St",      "stnumber" :
        "123",      "prov" : "ON",      "city" : {},      "confidence" : "0.9"   },   "error"
        : {      "description" : "zc Your request did not produce any results. Check
        your spelling and try again.",      "code" : "008"   },   "more" : "Firgle"});'
  recorded_at: Fri, 16 Sep 2022 21:27:12 GMT
recorded_with: VCR 6.1.0
