---
http_interactions:
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=6675%20business%20center%20dr,%20highlands%20ranch,%20co%2080130&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "Business Center Dr",      "stnumber"
        : "6675",      "prov" : "CO",      "city" : "Highlands Ranch",      "postal"
        : "80130",      "confidence" : "0.8"   },   "longt" : "-104.910776",   "TimeZone"
        : "America/Denver",   "postal" : "80130",   "AreaCode" : "720,303",   "latt"
        : "39.562539"});'
  recorded_at: Thu, 22 Sep 2022 15:17:29 GMT
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=6707%20s%20vine%20st%20ste%20d,%20centennial,%20co%2080122&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "S Vine St",      "stnumber"
        : "6707",      "prov" : "CO",      "city" : "Centennial",      "postal" :
        "80122",      "confidence" : "0.8"   },   "longt" : "-104.965107",   "TimeZone"
        : "America/Denver",   "postal" : "80122",   "AreaCode" : "720,303",   "latt"
        : "39.594632"});'
  recorded_at: Thu, 22 Sep 2022 15:17:30 GMT
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=6300%20s%20main%20st%20suite%20N101,%20aurora,%20co%2080016&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "S Main St",      "stnumber"
        : "6300",      "prov" : "CO",      "city" : "Aurora",      "postal" : "80016-5381",      "confidence"
        : "0.8"   },   "longt" : "-104.709213",   "TimeZone" : "America/Denver",   "postal"
        : "80016-5381",   "AreaCode" : "720,303",   "latt" : "39.601628"});'
  recorded_at: Thu, 22 Sep 2022 15:17:31 GMT
recorded_with: VCR 6.1.0
