---
http_interactions:
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=3984%20Red%20Cedar%20Dr,%20Highlands%20Ranch,%20CO%2080126&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "Red Cedar Dr",      "stnumber"
        : "3984",      "prov" : "CO",      "city" : "Highlands Ranch",      "postal"
        : "80126",      "confidence" : "1"   },   "longt" : "-104.941680",   "TimeZone"
        : "America/Denver",   "postal" : "80126",   "AreaCode" : "720,303",   "latt"
        : "39.526359"});'
  recorded_at: Fri, 16 Sep 2022 21:27:03 GMT
recorded_with: VCR 6.1.0
