---
http_interactions:
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=6675%20business%20center%20dr,%20highlands%20ranch,%20co%2080130&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "Business Center Dr",      "stnumber"
        : "6675",      "prov" : "CO",      "city" : "Highlands Ranch",      "postal"
        : "80130",      "confidence" : "0.8"   },   "longt" : "-104.910776",   "TimeZone"
        : "America/Denver",   "postal" : "80130",   "AreaCode" : "720,303",   "latt"
        : "39.562539"});'
  recorded_at: Tue, 20 Sep 2022 21:57:33 GMT
recorded_with: VCR 6.1.0
