---
http_interactions:
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=6675%20business%20center%20dr,%20highlands%20ranch,%20co%2080130&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<error><code>006</code><message>Request Throttled. Over Rate limit:
        up to 2 per sec. See geocoder.ca/pricing</message><requests>6</requests></error>"
  recorded_at: Thu, 22 Sep 2022 19:57:59 GMT
recorded_with: VCR 6.1.0
