---
http_interactions:
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=6675%20business%20center%20dr,%20highlands%20ranch,%20co%2080130&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "Business Center Dr",      "stnumber"
        : "6675",      "prov" : "CO",      "city" : "Highlands Ranch",      "postal"
        : "80130",      "confidence" : "0.8"   },   "longt" : "-104.910776",   "TimeZone"
        : "America/Denver",   "postal" : "80130",   "AreaCode" : "720,303",   "latt"
        : "39.562539"});'
  recorded_at: Thu, 22 Sep 2022 16:32:22 GMT
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=6707%20s%20vine%20st%20ste%20d,%20centennial,%20co%2080122&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "S Vine St",      "stnumber"
        : "6707",      "prov" : "CO",      "city" : "Centennial",      "postal" :
        "80122",      "confidence" : "0.8"   },   "longt" : "-104.965107",   "TimeZone"
        : "America/Denver",   "postal" : "80122",   "AreaCode" : "720,303",   "latt"
        : "39.594632"});'
  recorded_at: Thu, 22 Sep 2022 16:32:27 GMT
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=6300%20s%20main%20st%20suite%20N101,%20aurora,%20co%2080016&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "S Main St",      "stnumber"
        : "6300",      "prov" : "CO",      "city" : "Aurora",      "postal" : "80016-5381",      "confidence"
        : "0.8"   },   "longt" : "-104.709213",   "TimeZone" : "America/Denver",   "postal"
        : "80016-5381",   "AreaCode" : "720,303",   "latt" : "39.601628"});'
  recorded_at: Thu, 22 Sep 2022 16:32:31 GMT
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=630%20E%2017th%20Ave,%20Denver,%20CO%2080203&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "E 17th Ave",      "stnumber"
        : "630",      "prov" : "CO",      "city" : "Denver",      "postal" : "80203-1411",      "confidence"
        : "0.8"   },   "longt" : "-104.979002",   "TimeZone" : "America/Denver",   "postal"
        : "80203-1411",   "AreaCode" : "720,303",   "latt" : "39.743069"});'
  recorded_at: Thu, 22 Sep 2022 16:32:36 GMT
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=1623%20Pearl%20St,%20Denver,%20CO%2080203&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "Pearl St",      "stnumber"
        : "1623",      "prov" : "CO",      "city" : "Denver",      "postal" : "80203",      "confidence"
        : "0.8"   },   "longt" : "-104.979895",   "TimeZone" : "America/Denver",   "postal"
        : "80203",   "AreaCode" : "720,303",   "latt" : "39.742028"});'
  recorded_at: Thu, 22 Sep 2022 16:32:40 GMT
- request:
    method: get
    uri: http://geocoder.ca/?callback=test&geoit=xml&jsonp=1&locate=1007%20York%20St,%20Denver,%20CO%2080206&showpostal=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'test({   "standard" : {      "staddress" : "N York St",      "stnumber"
        : "1007",      "prov" : "CO",      "city" : "Denver",      "postal" : "80206",      "confidence"
        : "0.8"   },   "longt" : "-104.960198",   "TimeZone" : "America/Denver",   "postal"
        : "80206",   "AreaCode" : "720,303",   "latt" : "39.731948"});'
  recorded_at: Thu, 22 Sep 2022 16:32:44 GMT
[...]
- request:
    method: get
    uri: http://ipinfo.io/76.131.44.131/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "76.131.44.131",
          "city": "Denver",
          "region": "Colorado",
          "country": "US",
          "loc": "39.7392,-104.9847",
          "org": "AS7922 Comcast Cable Communications, LLC",
          "postal": "80203",
          "timezone": "America/Denver",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 22 Sep 2022 16:32:49 GMT
recorded_with: VCR 6.1.0
